.checkboxIndicator {
  color: var(--color-dark-900);
}

.label {
  margin-left: 8px;
}

.checkBox {
  all: unset;

  cursor: pointer;

  position: relative;

  width: 18px;
  height: 18px;
  margin: 3px;

  background-color: var(--color-dark-900);
  border: 2px solid var(--color-light-900);

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: translate(-50%, -50%);

    display: none;

    width: 36px;
    height: 36px;

    background-color: var(--color-dark-100);
    border-radius: 50%;

    transition: 0.2s ease-in-out;
  }

  &:focus-visible {
    background-color: var(--color-light-100);

    &::before {
      display: inline-block;
    }
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:hover::before {
    display: inline-block;
    background-color: var(--color-dark-500);
  }

  &[data-state='checked'] {
    background-color: var(--color-light-100);
  }

  &:disabled::before {
    display: none;
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--color-dark-900);
    border: solid 2px var(--color-dark-100);

    & + .label {
      color: var(--color-dark-100);
    }
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-dark-100);

    .checkboxIndicator {
      color: var(--color-light-900);
    }

    & + .label {
      color: var(--color-dark-100);
    }
  }
}

.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
