.container {
  max-width: 1008px;
  margin: 0 auto 30px;
}

.link {
  cursor: pointer;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;

  margin: 20px 0;

  text-decoration: none;
}

.wrapperEmptyContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

.titleContainer {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 20px 0;
}

.containerDropDownMenu {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

.buttonDropDownMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textField {
  width: 100%;
}

.tableDecks {
  width: 100%;
  margin-bottom: 24px;
}

.deckButton {
  width: 16px;
  height: 16px;
  padding: 0;
  background: none;

  &:hover {
    background: none;
  }
}

.deckButtonsWrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-end;

  width: auto;
  height: fit-content;
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cell {
  height: 100%;
  text-align: justify;
}

.cell:nth-child(-n + 2) {
  width: 28%;
}

.lastCell {
  width: 10%;
  height: 100%;
}

.mainImageCard {
  max-width: 170px;
  max-height: 107px;
  object-fit: cover;
}

.imageCard {
  width: 118px;
  height: 48px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.wrapperTableImg {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;

  width: 100%;
}

.deckTableRow {
  hyphens: auto;
  word-wrap: break-word;
}

.learn {
  color: white;
}
