.customSliderWrapper{
  display: flex;
  width: fit-content;
  gap: 12px;
}

.sliderWrapper{
  padding: 6px 0;
}

.sliderRoot{
  position: relative;
  align-items: center;
  user-select: none;
  touch-action: none;
  padding: 6px 0;
  width: 155px;
  height: 20px;
  display: flex;
}

.sliderTrack {
  height: 5px;
  background-color: rgba(140, 97, 255, 0.5);
  position: relative;
  flex-grow: 1;
  border-radius: 10px;
}

.sliderRange {
  background-color: var(--color-accent-500);
  position: absolute;
  height: 100%;
  border-radius: 10px;
}

.sliderThumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 4px solid var(--color-accent-500);
  border-radius: 10px;
  cursor: pointer;

  &:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
  }

  &:focus-within{
    outline: none;
  }
}

.minMaxWrapper {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  padding: 6px 0;
  border: 1px solid var(--color-dark-300);
}