.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--color-light-100);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  text-align: left;
  padding: 6px 28px 6px 28px;
  border-radius: 4px;
  height: 36px;
  display: inline-block;
  outline: none;
  vertical-align: middle;

  &:focus {
    box-shadow: 0 0 0 2px var(--color-info-700);
  }
}

.primary {
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--color-accent-900);
    color: var(--color-light-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
    box-shadow: none;
  }

  &:disabled {
    color: var(--color-light-900);
  }
}

.fullWidth {
  width: 100%;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
