.container {
  max-width: 420px;
  margin: 50px auto 0;
  padding: 33px 92px 41px 80px;
}

.isEditableContainer {
  padding: 33px 36px 84px;
}

.formTitle {
  margin-top: 0;
  margin-bottom: 27px;
  text-align: center;
  white-space: nowrap;
}

.avatar {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.wrapper {
  max-width: 1008px;
  margin: 0 auto 30px;
}
