.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameWrapper {
  display: flex;
  gap: 9px;

  max-width: 246px;
  margin-top: 6px;
  padding-left: 8px;
}

.avatarWrapper {
  position: relative;
  display: flex;
}

.editNameIcon {
  cursor: pointer;

  width: 16px;
  height: 16px;
  padding-top: 10px;

  background-color: transparent;
}

.editAvatarBtn {
  content: '';

  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin: 0 auto;
  padding: 4px;

  background-color: var(--color-dark-300);
  border-radius: 4px;
}

.name {
  max-width: 100%;
  margin: 0;

  hyphens: auto;
  word-wrap: break-word; /* Позволяет словам переноситься */
  overflow-wrap: break-word; /* Современный аналог word-wrap для переноса слов */
}

.isEditableFormButton {
  margin-top: 13px;
}

.editAvatarInput {
  display: none;
}
